html, body {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.26666667;
    color: #242729;
}
.font-12 {
    font-size: 12px;
}
/**/
.site-footer{
    background-color: #242729;
    background-position: top left;
    background-repeat: no-repeat;
    border-top: 0;
    background-size: auto;
    color: #6a737c;
    box-sizing: border-box;
}

/*cont*/
.site-footer--container{
    padding: 32px 12px 12px 12px;
    flex-flow: row wrap;
}
.site-footer--container, .site-footer--extra {
    max-width: 1264px;
}

/*logo*/
.site-footer--logo {
    flex: 0 0 64px;
    margin: -12px 0 32px 0;
}

/*nav/main link*/
.site-footer--nav {
    flex: 2 1 auto;
}

/*column*/
.site-footer--col {
    padding: 0 12px 24px 0;
    flex: 1 0 auto;
}

/*columnheader*/
.site-footer .-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1.30769231;
}
.site-footer .-title a{
    color: #bbc0c4;
    text-decoration: none;
}
.site-footer .-title a:hover{
    color: white;
}

/*columnlist*/
.site-footer .-list{
    margin: 0;
    list-style: none;
}

/*columnitem*/
.site-footer .-item{
    margin-bottom: 5px
}
.site-footer .-link{
    color: #848d95;
    line-height: 1.30769231;
    text-decoration: none;
}
.site-footer .-link:hover{
    color: #bbc0c4;
}

/*columncopyright*/
.site-footer--copyright {
    flex: 1 1 150px;
    font-size: 11px
}

.site-footer--copyright .-link {
    margin-right: 10px
}

.mb-5 a{
    color: #848d95;
    text-decoration: none;
}