.navbar {
	background-color: #fafafb;
	border-top: solid #f48024 3px;
	border-bottom: solid #dadada 1px;
	height: 47px;
	padding: 0;
	margin: 0;
	font-size: 13px;
}
.nav-logo {
	width: 20%;
}
.nav-search {
	width: 80%;
}
.navbar a {
	height: 40px;
}
#nav-logo {
	height: 35px;
	width: auto;
}
.navbar input {
	line-height: 15px;
	padding: 7.8px;
	width: 98%;
}
.nav-hoverable {
	text-align: center;
	margin: 2px 0px;
	width: 2vw;
}
.nav-hoverable:hover {
	background-color: #eff0f1;
}
.nav-btn {
	height: 48px;
	margin: 2px 3px;
}
.nav {
	line-height: 40px;
}
.fa {
	color: #848d95;
}
.nav-icon {
	height: 15px;
}
.btn-hover-nav {
	background-color: #00000000;
	color: #07C;
}
.btn-hover-nav:hover {
	background-color: #07C1;
}
.btn-narrow {
	width: 3vw;
	font-size: 0.9em;
	padding: 5px 2px;
}
.btn-blue {
	background-color: #0095FF;
	color: #FFF;
}
.left-btn {
	width: 100%;
	height: 30px;
	color: #535a60;
}
.left-btn a {
	text-decoration: none;
	color: #535a60;
}
.left-btn a:hover {
	text-decoration: none;
}
.left-btn-active {
	border-right: 3px solid #F48024;
	background-color: rgba(12,13,14,0.05);
	font-weight: bold;
	color: #000 !important;
}
.transparent {
	color: #FFF0;
}
.grey {
	color: rgba(187, 192, 196, 80);
	text-decoration: none;
}
.grey-hoverable {
	color: rgba(187, 192, 196, 80);
}
.grey-hoverable:hover {
	color: #888;
}
.blue-tag {
	background-color: #e1ecf4;
	color: #39739d;
	font-weight: normal;
}
code {
	/*color: #000;*/
}
.no-decoration {
	text-decoration: none
}
.no-decoration:hover {
	text-decoration: none
}
.owner-card {
	border-radius: 4px;
}
.dot {
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.bg-bronze {
	background-color: #d1a684;
}
.bg-gold {
	background-color: #ffcc01;
}