body{
    box-sizing: inherit;
}
#rightbar{
    width: 300px;
    margin-left: 24px;
    margin: 0 0 15px;
    display: block;
}

/*module/bulletin*/

.module--cont{
    padding: 15px 15px 10px;
    background-color: #FFF8DC;
    border: 1px solid #E0DCBF;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(59,64,69,0.1);
    margin-bottom: 16px;
    word-wrap: break-word;
}

.module{
    line-height: 1.3;
    font-size: 13px;
}

.module-title:first-child{
    margin-top: 0;
}

.module-title{
    font-weight: bold;
    font-size: 11px;
    color: #9C988B;
    text-transform: uppercase;
    margin-top: 15px;
}

.module-item{
    padding: 0 5px;
    margin-bottom: 8px;
    display: flex;
}

.module-item-type{
    display: block;
    width: 10%;
}
.module-item-content{
    display: block;
    width: 90%
}

.module-item a{
    text-decoration: none;
}

.module-item a:hover{
    color: #72d1ff;
}

/*watchtag*/
.watch-tag--cont{
    word-wrap: break-word;
    margin-bottom: 1.5em;
}

.watch-tag{
    position: relative;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(59,64,69,0.1);
    font-size: 13px;
    margin-bottom: 16px !important;
}

.watch-tag::before{
    content: '';
    display: block;
    margin-top: -1px;
}

.watch-tag::after{
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;
    height: 5px;
    border-radius: 3px;
    pointer-events: none;
}

.watch-tag-header{
    padding: 12px 15px;
    background: #fafafb;
    color: #6a737c;
    font-size: 1.15384615rem;
    font-weight: normal;
    border-top: 1px solid #e4e6e8;
}

.watch-tag-header .icon-eye{
    margin-right: 4px !important;
}

.watch-tag-content{
    border-top: 1px solid #e4e6e8;
    margin: 0;
    padding: 16px 15px;
    flex-direction: column !important;
    color: #6a737c;
}

.tag-cell{
    margin: 8px 0;
    color: #9fa6ad;
}

.btn{
    position: relative;
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15384615;
    text-decoration: none;
    cursor: pointer;
}

.btn-fill{
    border-color: #71a5cb;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.75), 0 0 0 0 rgba(0,149,255,0);
    color: #39739d;
    background-color: #E1ECF4;
}

.btn-fill:hover{
    background-color: #C5DAEA;
}